<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiao.ex.dao.ExConfigMapper">
    <resultMap id="BaseResultMap" type="com.xiao.ex.entity.ExConfig">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="VALUE" property="value" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, NAME, VALUE, create_time, update_time, is_enabled,description
  </sql>


    <select id="findMysqlVersion" resultType="java.lang.String">
     select version();
    </select>

</mapper>